[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solguard = "72YkKhqgzgue7niCaYs2QxQC3iLfUXGFMbo3yZ5K6d3Q"

[programs.devnet]
solguard = "72YkKhqgzgue7niCaYs2QxQC3iLfUXGFMbo3yZ5K6d3Q"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
